#[example]
#pattern = ^mydata\.foo\..+
#servers = 10.1.2.3, 10.1.2.4:2004, myserver.mydomain.com

# You must have exactly one section with 'default = true'
[default]
default = true
destinations = 127.0.0.1:2004:a, 127.0.0.1:2104:b
