<meta http-equiv='refresh' content='5;'>
<link rel='stylesheet' href='web.css' type='text/css'>
<body>
<center>
<h1>Carbon Status</h1>
<table class='mainInfo'>
 <tr><td align=right>CPU Usage:</td><td>%(cpuUsage)s</td></tr>
 <tr><td align=right>Mem Usage:</td><td>%(memUsage)d MB</td></tr>
</table>

</body>
