language: python
python: 2.7
sudo: false

env:
  - TOXENV=py27-django14-pyparsing2
  - TOXENV=py27-django15-pyparsing2
  - TOXENV=py27-django16-pyparsing2
  - TOXENV=py27-django17-pyparsing2
  - TOXENV=py27-django18-pyparsing2
  - TOXENV=py27-django19-pyparsing2
  - TOXENV=py27-django16-pyparsing1
  - TOXENV=docs
  - TOXENV=lint

addons:
  apt:
    packages:
      - libcairo2-dev

install:
  - pip install tox

script:
  - tox -e $TOXENV

after_success:
  - pip install codecov
  - codecov
