include LICENSE
include README.md
include MANIFEST.in
include check-dependencies.py
include examples/*
include conf/*.example
include webapp/graphite/local_settings.py.example
recursive-include distro/ *
recursive-include webapp/graphite/ *.html
recursive-include webapp/content/ *
exclude webapp/graphite/local_settings.py
exclude conf/*.conf
