include INSTALL
include LICENSE
include example-graphite-vhost.conf
include webapp/graphite/local_settings.py.example
include webapp/graphite/render/graphTemplates.conf
recursive-include webapp/graphite/ *.html
recursive-include webapp/content/ *
