# This is a PIP requirements file.
# To setup a dev environment:
#
#   Use Python 2.7
#
#   If you use virtualenvwrapper, you can use the misc/virtualenvwrapper hook scripts to
#   automate most of the following commands
#
#   easy_install virtualenv
#   virtualenv --distribute --no-site-packages --prompt "(graphite venv) " --python=/usr/bin/python2.7 .venv
#   source .venv/bin/activate
#
#   brew install cairo && brew link cairo # on OSX
#   sudo apt-get install libcairo2-dev    # on Ubuntu
#   pip install -r requirements.txt
#
#   mkdir -p .venv/storage/ceres .venv/storage/log/carbon-cache  .venv/conf
#   touch .venv/conf/carbon.conf .venv/conf/storage-schemas.conf
#   cp conf/graphTemplates.conf.example .venv/conf/graphTemplates.conf
#   export GRAPHITE_ROOT=`pwd` GRAPHITE_STORAGE_DIR=`pwd`/.venv/storage/ GRAPHITE_CONF_DIR=`pwd`/.venv/conf/
#
#   git clone https://github.com/graphite-project/carbon.git ../carbon
#   ../carbon/bin/carbon-cache.py start
#   ../carbon/bin/carbon-cache.py status
#
#   mkdir -p .venv/storage/log/webapp /opt/graphite/storage/
#   sudo chown -R $USER: /opt/graphite
#   .venv/bin/django-admin.py migrate --run-syncdb --settings=graphite.settings --pythonpath=webapp
#   bin/run-graphite-devel-server.py ./
#   # or
#   # cd webapp/graphite && $GRAPHITE_ROOT/.venv/bin/gunicorn_django -b 127.0.0.1:8080
#
# To clean up:
#
#   carbon/bin/carbon-cache.py stop
#   unset GRAPHITE_ROOT GRAPHITE_STORAGE_DIR GRAPHITE_CONF_DIR
#   deactivate
#

Django>=1.8,<2.0.99
python-memcached==1.58
txAMQP==0.8
django-tagging==0.4.6
gunicorn
pytz
pyparsing
cairocffi
git+git://github.com/graphite-project/whisper.git#egg=whisper
# Ceres is optional
# git+git://github.com/graphite-project/ceres.git#egg=ceres
whitenoise
scandir
urllib3
six
