Summary: Graphite
Name: graphite
Version: 1.0
Release: @REV@
Source0: graphite.tgz
License: GPL
BuildRoot: /usr/src/rpm/BUILD
Group: Applications/System
Requires: Django mod_python pycairo python-memcached python-sqlite2 whisper
AutoReqProv: no

%description
Graphite is a network graphing application, see the Orbitz wiki for more information

%pre
getent group apache >/dev/null || (echo "Adding apache group (GID 48)"; groupadd -g 48 apache)
getent passwd apache >/dev/null || (echo "Adding apache user (UID 48)"; useradd -u 48 -g 48 -s /bin/false apache)

%install
mkdir -p ${RPM_BUILD_ROOT}
tar -C ${RPM_BUILD_ROOT} -zxf %{SOURCE0}

%post
ln -nsf /etc/rc.d/init.d/carbon-agent /etc/rc.d/rc3.d/S99carbon

%files
%defattr(-,apache,apache)
/usr/local/graphite
%(0755,root,root)/etc/rc.d/init.d/carbon-agent
