<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Animated Multisort DataView</title>
    <!-- GC -->
    
    <link rel="stylesheet" type="text/css" href="../../resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="../shared/examples.css" />
    <link rel="stylesheet" type="text/css" href="animated-dataview.css" />
    <link rel="stylesheet" type="text/css" href="../grid/multiple-sorting.css" />
    
    <!-- ExtJS library: base/adapter -->
    <script type="text/javascript" src="../../adapter/ext/ext-base-debug.js"></script>

    <!-- ExtJS library: all widgets -->
    <script type="text/javascript" src="../../ext-all-debug.js"></script>
    
    <script type="text/javascript" src="../ux/DataViewTransition.js"></script>
    <script type="text/javascript" src="../ux/Reorderer.js"></script>
    <script type="text/javascript" src="../ux/ToolbarReorderer.js"></script>
</head>
<body id="docbody">
  <h1>Animated Multisort DataView Example</h1>
  <p>This example demonstrates using multiple sorters on a DataView.</p>
	<p>It also uses the <a href="../ux/DataViewTransition.js">DataViewTransition</a> plugin to animate the changes to the underlying <a href="http://www.extjs.com/deploy/dev/docs/?class=Ext.data.Store">Ext.data.Store</a>.</p>
	<p>Click the buttons to change sort direction, reorder them to change sort order.</p>
	<p>The code is not minified so is readable - see <a href="multisort-dataview.js">multisort-dataview.js</a></p>
  <script type="text/javascript" src="multisort-dataview.js"></script>
</body>
</html>