.mybody {
  background-color:	black;
  color:		11ff11;
  font-family:		monospace;
  font-weight:		bold;
}

.commandEntry {
  background-color:	black;
  color:		11ff11;
  font-family:		monospace;
  font-weight:		bold;
  border:		none;
}

.gWindow {
  background-color:	#CCCCCC;
  border:		groove green;
}

.gHeader {
  background-color:	#999999;
  color:		#333333;
}

div.autocomplete {
  position:absolute;
  width:                250px;
  background-color:     black;
  margin:               0px;
  padding:              0px;
}
div.autocomplete ul {
  list-style-type:      none;
  margin:               0px;
  padding:              0px;
}
div.autocomplete ul li.selected { background-color: #666666;}
div.autocomplete ul li {
  list-style-type:      none;
  display:              block;
  margin:               0;
  padding:              2px;
  height:               16px;
  cursor:               pointer;
}
