div.autocomplete {
  position:absolute;
  width:                250px;
  background-color:     white;
  margin:               0px;
  padding:              0px;
}
div.autocomplete ul {
  list-style-type:      none;
  margin:               0px;
  padding:              0px;
}
div.autocomplete ul li.selected { background-color: #666666;}
div.autocomplete ul li {
  list-style-type:      none;
  display:              block;
  margin:               0;
  padding:              2px;
  height:               16px;
  cursor:               pointer;
}
