<html>
  <head>
    <title>Graphlot</title>
    <script type="text/javascript" src="../../content/js/jquery.js"></script>
    <script type="text/javascript" src="../../content/js/jquery.color.js"></script>
    <script type="text/javascript" src="../../content/js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="../../content/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="../../content/js/flot/jquery.flot.selection.js"></script>
    <script type="text/javascript" src="../../content/js/flot/jquery.flot.crosshair.js"></script>
    <script type="text/javascript" src="../../content/js/flot/jquery.flot.time.js"></script>
    <script type="text/javascript" src="../../content/js/jquery.graphite-dashboard.js"></script>

    <link rel="stylesheet" type="text/css" href="../../content/css/jquery.autocomplete.css" />
    <link rel="stylesheet" type="text/css" href="../../content/css/table.css" />
    
    <script type="text/javascript">

    var SLASH='{{slash}}';


    var graph0_metrics = Array();
    {% for metric in metric_list %}
    graph0_metrics.push('{{ metric.name|escapejs }}');
    {% endfor %}

    $(document).ready(function () {
        $('#g_wrap0').graphiteGraph('#g_graph0', '', graph0_metrics, '{{ fromtime|escapejs }}', '{{ untiltime|escapejs }}');
    });

    </script>


    <style type="text/css">
    body {
        font-family: sans-serif;
        font-size: 16px;
        margin: 0px;
    }

    .ajaxerror {
        background: #ff0000;
    }
    .ajaxworking {
        background: #0000ff;
    }
    </style>


    </head>
    <body>
        <div id="g_wrap0">
            <div id="main" >
                <div class="g_canvas" style="padding:0px; margin: 4px;">
                    <div class="g_container" style=float:left;">
                        <div id="g_graph0" style="width:{{width}}px;height:{{height}}px"></div>
                    </div>
                    <div id="g_side" style="float:left">
                        <p id="g_legend" style="margin-left:0px"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

