<html>
  <head>
    <title>Graphlot</title>
    <script type="text/javascript" src="../../content/js/jquery.js"></script>
    <script type="text/javascript" src="../../content/js/jquery.color.js"></script>
    <script type="text/javascript" src="../../content/js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="../../content/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="../../content/js/flot/jquery.flot.selection.js"></script>
    <script type="text/javascript" src="../../content/js/flot/jquery.flot.crosshair.js"></script>
    <script type="text/javascript" src="../../content/js/flot/jquery.flot.time.js"></script>
    <script type="text/javascript" src="../../content/js/jquery.flot.axislabels.js"></script>
    <script type="text/javascript" src="../../content/js/jquery.graphite-dashboard.js"></script>

    <link rel="stylesheet" type="text/css" href="../../content/css/jquery.autocomplete.css" />
    <link rel="stylesheet" type="text/css" href="../../content/css/dashboard-default.css" />
    
    <script type="text/javascript">

    var SLASH='{{slash}}';


    var graph0_metrics = Array();
    {% for metric in metric_list %}
    graph0_metrics.push('{{ metric.name|escapejs }}');
    {% endfor %}

    $(document).ready(function () {
        $('#g_wrap0').graphiteGraph('#g_graph0', '', graph0_metrics, '{{ fromtime|escapejs }}', '{{ untiltime|escapejs }}', '{{ title|escapejs }}');
    });

    </script>


    </head>
    <body class="graph-area-body">
      <div id="g_wrap0">
        <div id="g_graph0" style="width:{{width}}px;height:{{height}}px"></div>
      </div>
    </body>
</html>

